In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestRegressor
import math

In [2]:
df = pd.read_csv("C:/Users/ankit/Downloads/covid-19-world-cases-deaths-testing.csv")

### Overview of data

In [3]:
df.head()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [4]:
df.tail()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
132639,ZWE,Africa,Zimbabwe,2021-11-07,133187.0,19.0,30.000,4685.0,0.0,1.000,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
132640,ZWE,Africa,Zimbabwe,2021-11-08,133205.0,18.0,28.286,4690.0,5.0,1.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
132641,ZWE,Africa,Zimbabwe,2021-11-09,133242.0,37.0,27.857,4691.0,1.0,1.143,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
132642,ZWE,Africa,Zimbabwe,2021-11-10,133302.0,60.0,30.143,4694.0,3.0,1.429,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
132643,ZWE,Africa,Zimbabwe,2021-11-11,133329.0,27.0,31.000,4694.0,0.0,1.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

In [5]:
df.sample()

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
86191,NIC,North America,Nicaragua,2021-02-19,6398.0,0.0,7.286,172.0,0.0,0.143,...,NaN,NaN,NaN,0.9,74.48,0.66,NaN,NaN,NaN,NaN

### Identify variable type

In [6]:
df.dtypes

iso_code                                    object
continent                                   object
location                                    object
date                                        object
total_cases                                float64
                                            ...
human_development_index                    float64
excess_mortality_cumulative_absolute       float64
excess_mortality_cumulative                float64
excess_mortality                           float64
excess_mortality_cumulative_per_million    float64
Length: 65, dtype: object

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132644 entries, 0 to 132643
Data columns (total 65 columns):
 #   Column                                   Non-Null Count   Dtype
---  ------                                   --------------   -----
 0   iso_code                                 132644 non-null  object
 1   continent                                124170 non-null  object
 2   location                                 132644 non-null  object
 3   date                                     132644 non-null  object
 4   total_cases                              125410 non-null  float64
 5   new_cases                                125408 non-null  float64
 6   new_cases_smoothed                       124365 non-null  float64
 7   total_deaths                             114293 non-null  float64
 8   new_deaths                               114489 non-null  float64
 9   new_deaths_smoothed                      124365 non-null  float64
 10  total_cases_per_million                  124766 non-null  float64
 11  new_cases_per_million                    124764 non-null  float64
 12  new_cases_smoothed_per_million           123726 non-null  float64
 13  total_deaths_per_million                 113662 non-null  float64
 14  new_deaths_per_million                   113858 non-null  float64
 15  new_deaths_smoothed_per_million          123726 non-null  float64
 16  reproduction_rate                        104426 non-null  float64
 17  icu_patients                             15955 non-null   float64
 18  icu_patients_per_million                 15955 non-null   float64
 19  hosp_patients                            18699 non-null   float64
 20  hosp_patients_per_million                18699 non-null   float64
 21  weekly_icu_admissions                    1340 non-null    float64
 22  weekly_icu_admissions_per_million        1340 non-null    float64
 23  weekly_hosp_admissions                   2127 non-null    float64
 24  weekly_hosp_admissions_per_million       2127 non-null    float64
 25  new_tests                                55090 non-null   float64
 26  total_tests                              55345 non-null   float64
 27  total_tests_per_thousand                 55345 non-null   float64
 28  new_tests_per_thousand                   55090 non-null   float64
 29  new_tests_smoothed                       66893 non-null   float64
 30  new_tests_smoothed_per_thousand          66893 non-null   float64
 31  positive_rate                            62869 non-null   float64
 32  tests_per_case                           62209 non-null   float64
 33  tests_units                              68912 non-null   object
 34  total_vaccinations                       33391 non-null   float64
 35  people_vaccinated                        31843 non-null   float64
 36  people_fully_vaccinated                  28854 non-null   float64
 37  total_boosters                           5855 non-null    float64
 38  new_vaccinations                         27787 non-null   float64
 39  new_vaccinations_smoothed                59510 non-null   float64
 40  total_vaccinations_per_hundred           33391 non-null   float64
 41  people_vaccinated_per_hundred            31843 non-null   float64
 42  people_fully_vaccinated_per_hundred      28854 non-null   float64
 43  total_boosters_per_hundred               5855 non-null    float64
 44  new_vaccinations_smoothed_per_million    59510 non-null   float64
 45  stringency_index                         108117 non-null  float64
 46  population                               131704 non-null  float64
 47  population_density                       120074 non-null  float64
 48  median_age                               114425 non-null  float64
 49  aged_65_older                            113159 non-null  float64
 50  aged_70_older                            113800 non-null  float64
 51  gdp_per_capita                           115174 non-null  float64
 52  extreme_poverty                          77021 non-null   float64
 53  cardiovasc_death_rate                    114669 non-null  float64
 54  diabetes_prevalence                      118421 non-null  float64
 55  female_smokers                           89329 non-null   float64
 56  male_smokers                             88037 non-null   float64
 57  handwashing_facilities                   57713 non-null   float64
 58  hospital_beds_per_thousand               104208 non-null  float64
 59  life_expectancy                          123313 non-null  float64
 60  human_development_index                  114771 non-null  float64
 61  excess_mortality_cumulative_absolute     4656 non-null    float64
 62  excess_mortality_cumulative              4656 non-null    float64
 63  excess_mortality                         4656 non-null    float64
 64  excess_mortality_cumulative_per_million  4656 non-null    float64
dtypes: float64(60), object(5)
memory usage: 65.8+ MB

In [8]:
df.describe()

,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,new_cases_per_million,new_cases_smoothed_per_million,total_deaths_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
count,1.254100e+05,125408.000000,124365.000000,1.142930e+05,114489.000000,124365.000000,124766.000000,124764.000000,123726.000000,113662.000000,...,89329.000000,88037.000000,57713.000000,104208.000000,123313.000000,114771.000000,4656.000000,4656.000000,4656.000000,4656.000000
mean,2.038988e+06,8353.089061,8370.993697,5.045250e+04,184.004114,168.641989,19635.283091,86.276426,86.148532,402.810296,...,10.589701,32.748528,50.865182,3.029443,73.260475,0.726207,32052.628565,8.667889,15.883224,781.114218
std,1.163912e+07,43546.701111,43036.169034,2.589636e+05,871.591559,817.796127,32569.807890,198.882323,168.222166,662.723769,...,10.502683,13.512865,31.821458,2.455593,7.532205,0.150042,90422.651800,15.939853,31.062810,1166.907295
min,1.000000e+00,-74347.000000,-6223.000000,1.000000e+00,-1918.000000,-232.143000,0.001000,-3125.829000,-272.971000,0.000000,...,0.100000,7.700000,1.188000,0.100000,53.280000,0.394000,-31959.400000,-27.350000,-95.920000,-1749.128494
25%,2.388000e+03,3.000000,10.286000,8.000000e+01,0.000000,0.143000,410.191250,0.331000,1.657000,11.892500,...,1.900000,21.600000,20.859000,1.300000,67.920000,0.602000,-167.750000,-0.972500,-0.835000,-43.100925
50%,2.714850e+04,104.000000,130.143000,7.410000e+02,2.000000,2.000000,3158.873000,11.313500,15.870500,79.970500,...,6.300000,31.400000,49.839000,2.400000,74.620000,0.744000,2315.900000,5.215000,6.465000,364.906628
75%,2.641010e+05,1077.000000,1133.429000,6.468000e+03,22.000000,18.571000,24850.918250,83.365000,92.923000,522.711000,...,19.300000,41.300000,83.241000,4.000000,78.740000,0.845000,20475.200000,13.580000,22.300000,1351.300112
max,2.519410e+08,907963.000000,826457.571000,5.079990e+06,18007.000000,14703.286000,240096.744000,8620.690000,3385.473000,6011.916000,...,44.000000,78.100000,100.000000,13.800000,86.750000,0.957000,870830.300000,106.840000,373.610000,6157.832804

In [11]:
for column in df.columns:
    percentage = df[column].isnull().mean()
    print(f'{column}: {round(percentage*100, 2)}%')

iso_code: 0.0%
continent: 6.39%
location: 0.0%
date: 0.0%
total_cases: 5.45%
new_cases: 5.46%
new_cases_smoothed: 6.24%
total_deaths: 13.83%
new_deaths: 13.69%
new_deaths_smoothed: 6.24%
total_cases_per_million: 5.94%
new_cases_per_million: 5.94%
new_cases_smoothed_per_million: 6.72%
total_deaths_per_million: 14.31%
new_deaths_per_million: 14.16%
new_deaths_smoothed_per_million: 6.72%
reproduction_rate: 21.27%
icu_patients: 87.97%
icu_patients_per_million: 87.97%
hosp_patients: 85.9%
hosp_patients_per_million: 85.9%
weekly_icu_admissions: 98.99%
weekly_icu_admissions_per_million: 98.99%
weekly_hosp_admissions: 98.4%
weekly_hosp_admissions_per_million: 98.4%
new_tests: 58.47%
total_tests: 58.28%
total_tests_per_thousand: 58.28%
new_tests_per_thousand: 58.47%
new_tests_smoothed: 49.57%
new_tests_smoothed_per_thousand: 49.57%
positive_rate: 52.6%
tests_per_case: 53.1%
tests_units: 48.05%
total_vaccinations: 74.83%
people_vaccinated: 75.99%
people_fully_vaccinated: 78.25%
total_boosters: 95.59%
new_vaccinations: 79.05%
new_vaccinations_smoothed: 55.14%
total_vaccinations_per_hundred: 74.83%
people_vaccinated_per_hundred: 75.99%
people_fully_vaccinated_per_hundred: 78.25%
total_boosters_per_hundred: 95.59%
new_vaccinations_smoothed_per_million: 55.14%
stringency_index: 18.49%
population: 0.71%
population_density: 9.48%
median_age: 13.74%
aged_65_older: 14.69%
aged_70_older: 14.21%
gdp_per_capita: 13.17%
extreme_poverty: 41.93%
cardiovasc_death_rate: 13.55%
diabetes_prevalence: 10.72%
female_smokers: 32.66%
male_smokers: 33.63%
handwashing_facilities: 56.49%
hospital_beds_per_thousand: 21.44%
life_expectancy: 7.03%
human_development_index: 13.47%
excess_mortality_cumulative_absolute: 96.49%
excess_mortality_cumulative: 96.49%
excess_mortality: 96.49%
excess_mortality_cumulative_per_million: 96.49%

### Data Preparation

##### Deleting the features with more than 60% missing values

In [12]:
df1=df.drop(['handwashing_facilities','excess_mortality_cumulative_absolute','excess_mortality_cumulative','excess_mortality','excess_mortality_cumulative_per_million','total_vaccinations','people_vaccinated','people_fully_vaccinated','total_boosters','new_vaccinations','new_vaccinations_smoothed','total_vaccinations_per_hundred','people_vaccinated_per_hundred','people_fully_vaccinated_per_hundred','total_boosters_per_hundred','icu_patients','icu_patients_per_million','hosp_patients','hosp_patients_per_million','weekly_icu_admissions','weekly_icu_admissions_per_million','weekly_hosp_admissions','weekly_hosp_admissions_per_million'], axis=1)

In [13]:
for column in df1.columns:
    percentage = df1[column].isnull().mean()
    print(f'{column}: {round(percentage*100, 2)}%')

iso_code: 0.0%
continent: 6.39%
location: 0.0%
date: 0.0%
total_cases: 5.45%
new_cases: 5.46%
new_cases_smoothed: 6.24%
total_deaths: 13.83%
new_deaths: 13.69%
new_deaths_smoothed: 6.24%
total_cases_per_million: 5.94%
new_cases_per_million: 5.94%
new_cases_smoothed_per_million: 6.72%
total_deaths_per_million: 14.31%
new_deaths_per_million: 14.16%
new_deaths_smoothed_per_million: 6.72%
reproduction_rate: 21.27%
new_tests: 58.47%
total_tests: 58.28%
total_tests_per_thousand: 58.28%
new_tests_per_thousand: 58.47%
new_tests_smoothed: 49.57%
new_tests_smoothed_per_thousand: 49.57%
positive_rate: 52.6%
tests_per_case: 53.1%
tests_units: 48.05%
new_vaccinations_smoothed_per_million: 55.14%
stringency_index: 18.49%
population: 0.71%
population_density: 9.48%
median_age: 13.74%
aged_65_older: 14.69%
aged_70_older: 14.21%
gdp_per_capita: 13.17%
extreme_poverty: 41.93%
cardiovasc_death_rate: 13.55%
diabetes_prevalence: 10.72%
female_smokers: 32.66%
male_smokers: 33.63%
hospital_beds_per_thousand: 21.44%
life_expectancy: 7.03%
human_development_index: 13.47%

### Imputation 
##### Imputing categorical data with most frequent value
##### Imputing numerical data with mean and ffill values

In [25]:
mode = ''.join(df1['tests_units'].mode())
df1['tests_units'].fillna(mode, inplace=True)
df1['tests_units']

0         tests performed
1         tests performed
2         tests performed
3         tests performed
4         tests performed
               ...
132639    tests performed
132640    tests performed
132641    tests performed
132642    tests performed
132643    tests performed
Name: tests_units, Length: 132644, dtype: object

In [26]:
df1.fillna(df1.mean())

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,aged_70_older,gdp_per_capita,extreme_poverty,cardiovasc_death_rate,diabetes_prevalence,female_smokers,male_smokers,hospital_beds_per_thousand,life_expectancy,human_development_index
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,8370.993697,50452.495472,184.004114,168.641989,...,1.337,1803.987,13.507064,597.029,9.59,10.589701,32.748528,0.5,64.83,0.511
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,8370.993697,50452.495472,184.004114,168.641989,...,1.337,1803.987,13.507064,597.029,9.59,10.589701,32.748528,0.5,64.83,0.511
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,8370.993697,50452.495472,184.004114,168.641989,...,1.337,1803.987,13.507064,597.029,9.59,10.589701,32.748528,0.5,64.83,0.511
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,8370.993697,50452.495472,184.004114,168.641989,...,1.337,1803.987,13.507064,597.029,9.59,10.589701,32.748528,0.5,64.83,0.511
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,8370.993697,50452.495472,184.004114,168.641989,...,1.337,1803.987,13.507064,597.029,9.59,10.589701,32.748528,0.5,64.83,0.511
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
132639,ZWE,Africa,Zimbabwe,2021-11-07,133187.0,19.0,30.000000,4685.000000,0.000000,1.000000,...,1.882,1899.775,21.400000,307.846,1.82,1.600000,30.700000,1.7,61.49,0.571
132640,ZWE,Africa,Zimbabwe,2021-11-08,133205.0,18.0,28.286000,4690.000000,5.000000,1.571000,...,1.882,1899.775,21.400000,307.846,1.82,1.600000,30.700000,1.7,61.49,0.571
132641,ZWE,Africa,Zimbabwe,2021-11-09,133242.0,37.0,27.857000,4691.000000,1.000000,1.143000,...,1.882,1899.775,21.400000,307.846,1.82,1.600000,30.700000,1.7,61.49,0.571
132642,ZWE,Africa,Zimbabwe,2021-11-10,133302.0,60.0,30.143000,4694.000000,3.000000,1.429000,...,1.882,1899.775,21.400000,307.846,1.82,1.600000,30.700000,1.7,61.49,0.571
132643,ZWE,Africa,Zimbabwe,2021-11-11,133329.0,27.0,31.000000,4694.000000,0.000000,1.286000,...,1.882,1899.775,21.400000,307.846,1.82,1.600000,30.700000,1.7,61.49,0.571

In [27]:
df1["total_cases"] = df1["total_cases"].fillna(df1["total_cases"].mean())
df1["total_cases"].interpolate()

0              5.0
1              5.0
2              5.0
3              5.0
4              5.0
            ...
132639    133187.0
132640    133205.0
132641    133242.0
132642    133302.0
132643    133329.0
Name: total_cases, Length: 132644, dtype: float64

In [28]:
for column in df1.columns:
    percentage = df1[column].isnull().mean()
    print(f'{column}: {round(percentage*100, 2)}%')

iso_code: 0.0%
continent: 6.39%
location: 0.0%
date: 0.0%
total_cases: 0.0%
new_cases: 5.46%
new_cases_smoothed: 6.24%
total_deaths: 13.83%
new_deaths: 13.69%
new_deaths_smoothed: 6.24%
total_cases_per_million: 5.94%
new_cases_per_million: 5.94%
new_cases_smoothed_per_million: 6.72%
total_deaths_per_million: 14.31%
new_deaths_per_million: 14.16%
new_deaths_smoothed_per_million: 6.72%
reproduction_rate: 21.27%
new_tests: 58.47%
total_tests: 58.28%
total_tests_per_thousand: 58.28%
new_tests_per_thousand: 58.47%
new_tests_smoothed: 49.57%
new_tests_smoothed_per_thousand: 49.57%
positive_rate: 52.6%
tests_per_case: 53.1%
tests_units: 0.0%
new_vaccinations_smoothed_per_million: 55.14%
stringency_index: 18.49%
population: 0.71%
population_density: 9.48%
median_age: 13.74%
aged_65_older: 14.69%
aged_70_older: 14.21%
gdp_per_capita: 13.17%
extreme_poverty: 41.93%
cardiovasc_death_rate: 13.55%
diabetes_prevalence: 10.72%
female_smokers: 32.66%
male_smokers: 33.63%
hospital_beds_per_thousand: 21.44%
life_expectancy: 7.03%
human_development_index: 13.47%

In [37]:
df1 = df1.fillna(axis = 1, method='ffill')
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 132644 entries, 0 to 132643
Data columns (total 42 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   iso_code                               132644 non-null  object
 1   continent                              132644 non-null  object
 2   location                               132644 non-null  object
 3   date                                   132644 non-null  object
 4   total_cases                            132644 non-null  float64
 5   new_cases                              132644 non-null  float64
 6   new_cases_smoothed                     132644 non-null  float64
 7   total_deaths                           132644 non-null  float64
 8   new_deaths                             132644 non-null  float64
 9   new_deaths_smoothed                    132644 non-null  float64
 10  total_cases_per_million                132644 non-null  float64
 11  new_cases_per_million                  132644 non-null  float64
 12  new_cases_smoothed_per_million         132644 non-null  float64
 13  total_deaths_per_million               132644 non-null  float64
 14  new_deaths_per_million                 132644 non-null  float64
 15  new_deaths_smoothed_per_million        132644 non-null  float64
 16  reproduction_rate                      132644 non-null  float64
 17  new_tests                              132644 non-null  float64
 18  total_tests                            132644 non-null  float64
 19  total_tests_per_thousand               132644 non-null  float64
 20  new_tests_per_thousand                 132644 non-null  float64
 21  new_tests_smoothed                     132644 non-null  float64
 22  new_tests_smoothed_per_thousand        132644 non-null  float64
 23  positive_rate                          132644 non-null  float64
 24  tests_per_case                         132644 non-null  float64
 25  tests_units                            132644 non-null  object
 26  new_vaccinations_smoothed_per_million  132644 non-null  object
 27  stringency_index                       132644 non-null  object
 28  population                             132644 non-null  object
 29  population_density                     132644 non-null  object
 30  median_age                             132644 non-null  object
 31  aged_65_older                          132644 non-null  object
 32  aged_70_older                          132644 non-null  object
 33  gdp_per_capita                         132644 non-null  object
 34  extreme_poverty                        132644 non-null  object
 35  cardiovasc_death_rate                  132644 non-null  object
 36  diabetes_prevalence                    132644 non-null  object
 37  female_smokers                         132644 non-null  object
 38  male_smokers                           132644 non-null  object
 39  hospital_beds_per_thousand             132644 non-null  object
 40  life_expectancy                        132644 non-null  object
 41  human_development_index                132644 non-null  object
dtypes: float64(21), object(21)
memory usage: 42.5+ MB